<div id="spreadsheets-setup"> {% comment %} Start of 'spreadsheet' section. {% endcomment %}
  <h3>Spreadsheet programs</h3>
  <p>
    For the workshop, everyone will need to have a spreadsheet program installed, such as Microsoft Excel or LibreOffice. If your computer doesn't already have spreadsheet software installed, download and setup instructions for Windows, MacOS, and Linux are available in
    the <a href="https://librarycarpentry.org/lc-shell/setup.html">lesson</a>.
  </p>
</div>
<div id="data-setup"> {% comment %} Start of 'data' section. {% endcomment %}
  <h3>Data</h3>
  <p>
    We will be working with the file <a href="https://librarycarpentry.org/lc-spreadsheets/data/training_attendance.xlsx">training_attendance.xlsx</a>. The file should automatically download when you click the link. 
    If it doesn't, you may need to right click or control click in order to save the file (NOTE: In Safari, right click and select download linked file; in Chrome and Firefox, right click and select save link as). 
    Make a note of the location (i.e the folder, your desktop) where the file is saved.
  </p>
</div>
